body {
    padding: 0;
    margin: 0;
    background: rgb(7, 6, 6);
    min-height: 100vh;
}

.rain-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

@keyframes animation {
    0%{
        transform: translate(var(--x-start),var(--y-start))rotate(0);
    }100%{
        transform: translate(var(--x-end),var(--y-end))rotate(50deg);
    }
}

.rainDrop {
    font-size: var(--sz);
    filter: blur(var(--blur));
    animation: animation 20s linear infinite;
    transform: translate(var(--x-start), -15vh) rotate(0);
    opacity: var(--a);
}

.rainDrop--s {
    --sz: 0.5rem;
    --blur: 1px;
    --a: 0.8;
    --x-start: 50vw;
    --x-end: 0;
    --y-start: 0;
    --y-end: 100vh;
    position: absolute;
}

.rainDrop--m {
    --sz: 1rem;
    --blur: 1px;
    --a: 0.8;
    --x-start: 50vw;
    --x-end: 0;
    --y-start: 0;
    --y-end: 100vh;
    position: absolute;
    z-index: 50;
}

.rainDrop--l {
    --sz: 2rem;
    --blur: 0px;
    --a: 0.8;
    --x-start: 50vw;
    --x-end: 0;
    --y-start: 0;
    --y-end: 100vh;
    position: absolute;
    z-index: 80;
}


